* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: table;
    background-color:#3498db;
    width: 100%;
}

h3 {
    color: white;
    vertical-align: middle;
    display: table-cell;
}

nav {
    display: table;
    float: right;
    height: 10vh;
    margin-right:80px;  

}

a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: white;
}

a:not(:last-child) {
    padding-right: 20px;
    
}

main {
    min height: 80vh;
    background-color: #9b59b6;
}

footer {
    height: 10vh;
    background-color:#9b59b6;

}